<!DOCTYPE html>

{% extends 'icod/base.html' %}
{% load static %}

<html>

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
	{% block content %}
	<h1>Welcome to Inverclyde Council on Disability</h1><br><br>

	<img src="{% static "shop.jpg" %}" alt="Picture of office"/><br>

	{% if intros %}
		{% for intro in intros %}
			{{intro.intro}}
		{% endfor %}
	{% else %} 
		<strong> No intro available! </strong>
	{% endif %}
	<br><br>

	{% endblock %}
</body>


</html>
