
<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ICOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

 <link href="{{STATIC_URL}}/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

<style>
body{
	background-color:#FFFFFF;
}
</style>

  <body>

   <div class="navbar navbar-fixed-top" style="background-color:#FF34B3">
      <div class="navbar-inner">
        <div class="container-fluid">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	 <a class="brand" href="/icod/"><img src="{% static "logo.jpg" %}" width="150" height="70""></a>
            <p class="navbar-text pull-right" style="font-family: Arial;font-size:20px">
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
            </p>
        </div>
      </div>
    </div> 
    <br>

    {% block sidebar %}
    <div class="container" style="font-family: Arial;font-size:20px">
      <div class="row">
        <div class="col-sm-3">
          <div class="well sidebar-nav" style="background-color:#00B2EE; height:100%; color:white;font-family: Arial; font-size:20px">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#" style="color:white">About Us</a></li>
              <li><a href="#" style="color:white">Meet the Team</a></li>
              <li><a href="#" style="color:white">Services we Provide</a></li>
              <li><a href="#" style="color:white">User Involvment</a></li>
              <li><a href="#" style="color:white">News & Events</a></li>
              <li><a href="#" style="color:white">Link</a></li>
              <li><a href="#" style="color:white">Link</a></li>
              <li><a href="#" style="color:white">Link</a></li>
              <li><a href="#" style="color:white">Contact Us</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
	{% endblock %}

	<div class="col-sm-9">
        {% block content %}

	{% endblock %}
	</div>
      <hr>

   <!--   <center><footer>
        <p>&copy; Inverclude Council on Disability</p>
      </footer></center> -->

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>


  </body>

<center><footer>
        <p>&copy; Inverclude Council on Disability</p>
      </footer></center>
</html>

