<!DOCTYPE html>

{% extends 'icod/base.html' %}
{% load static %}

<html>

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
	{% block content %}

<center><h1>Contact Us</h1><br><br>

<p>We would like to hear from you if you have any comments or suggestions that would help us to improve the service that we offer.<br><br>

You can contact us:<br><br></center>

<b>Telephone:</b> 01475 732700<br><br>

<b>Fax:</b> 01475 730210<br><br>

<b>Email: </b><a href="mailto:enquiries@icod.org.uk" target="_top">enquiries@icod.org.uk</a><br><br></p>

<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
var myCenter=new google.maps.LatLng(55.9472116,-4.7572999999999865);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:15,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" style="width:500px;height:380px;align:center" ></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	{% endblock %}
</body>


</html>
