<!DOCTYPE html>

{% extends 'icod/base.html' %}
{% load static %}

<head>
	<!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

</head>

<style>
div{
	overflow-x: hidden;
}
</style>

<body>

{% block content %}

<h1><center> News & Events</center></h1>
<br><br>

<div class="row" id="newsTable" >                  
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a id="home" href="#">All News</a></li>
        <li><a href="" id="finTab" onclick='return activate()'>Financial News</a></li>
        <li><a href="" id="recogTab" onclick='return activate()'>Recognition</a></li>
        <li><a href="" id="polTab">Policy Changes</a></li>
	<li><a href="" id="socTab">Social News</a></li>       
      </ul>
	<br>
	<table class="table" id="tab1">
	{% if news %}
	    <thead>
	      <tr>
		<th>Date</th>
		<th>Information</th>
	      </tr>
	    </thead>
		{% for item in news %}
	    <tbody>
	      <tr>
		<td width="25%">{{item.date}}</td>
		<td><strong>Title: {{item.title}}</strong><br><br>{{item.news|linebreaks}}</td>
	      </tr>
	    </tbody>
		{% endfor %}
	  </table>
	{% else %}
		<strong> No news & events at this time. </strong>
	{% endif %}
    </div>

{% if recog %}
	{% for rItem in recog %}
		YES!<br>
	{% endfor %}
{% else %}
	no recog news<br> 
{% endif %}

{% if fin %}
	{% for fItem in fin %}
		YES!<br>
	{% endfor %}
{% else %}
	no financial news<br> 
{% endif %}

{% if pols %}
	{% for pItem in pols %}
		YES!<br>
	{% endfor %}
{% else %}
	no policy news<br>
{% endif %}

{% if socs %}
	{% for sItem in socs %}
		YES!<br>
	{% endfor %}
{% else %}
	no social news <br>
{% endif %}

{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>

</html>
