<!DOCTYPE html>

{% extends 'icod/base.html' %}
{% load static %}

<html>

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
	{% block content %}

	<h1><center> News & Events</center></h1>
	<br><br>

	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#pane1" data-toggle="tab">All News</a></li>
			<li><a href="#pane2" data-toggle="tab">Financial News</a></li>
			<li><a href="#pane3" data-toggle="tab">Recognition</a></li>
			<li><a href="#pane4" data-toggle="tab">Policy Changes</a></li>
			<li><a href="#pane5" data-toggle="tab">Social News</a></li>
		</ul>
		<br>
	<div class="tab-content">
		<div id="pane1" class="tab-pane active">
			<table class="table" id="AllNewsTab">
				{% if news %}
				<thead>
					<tr>
					<th>Date</th>
					<th>Information</th>
					</tr>
				</thead>
				{% for item in news %}
				<tbody>
					<tr>
					<td width="25%">{{item.date}}</td>
					<td><strong>Title: {{item.title}}</strong><br><br>{{item.news|linebreaks}}</td>
					</tr>
				</tbody>
				{% endfor %}
			{% else %}
			<br><strong> No news & events at this time. </strong>
			{% endif %}
			</table>
			
		</div>
		<div id="pane2" class="tab-pane">
			<table class="table" id="finTab">
				{% if fin %}
				<thead>
					<tr>
					<th>Date</th>
					<th>Information</th>
					</tr>
				</thead>
				{% for fItem in fin %}
				<tbody>
					<tr>
					<td width="25%">{{fItem.date}}</td>
					<td><strong>Title: {{fItem.title}}</strong><br><br>{{fItem.news|linebreaks}}</td>
					</tr>
				</tbody>
				{% endfor %}
			{% else %}
			<br><strong> No news & events at this time. </strong>
			{% endif %}
			</table>
		</div>
		<div id="pane3" class="tab-pane">
			<table class="table" id="recogTab">
				{% if recog %}
				<thead>
					<tr>
					<th>Date</th>
					<th>Information</th>
					</tr>
				</thead>
				{% for rItem in recog %}
				<tbody>
					<tr>
					<td width="25%">{{rItem.date}}</td>
					<td><strong>Title: {{rItem.title}}</strong><br><br>{{rItem.news|linebreaks}}</td>
					</tr>
				</tbody>
				{% endfor %}
			{% else %}
			<br><strong> No news & events at this time. </strong>
			{% endif %}
			</table>
		</div>
		<div id="pane4" class="tab-pane">
			<table class="table" id="polTab">
				{% if pols %}
				<thead>
					<tr>
					<th>Date</th>
					<th>Information</th>
					</tr>
				</thead>
				{% for pItem in pols %}
				<tbody>
					<tr>
					<td width="25%">{{pItem.date}}</td>
					<td><strong>Title: {{pItem.title}}</strong><br><br>{{pItem.news|linebreaks}}</td>
					</tr>
				</tbody>
				{% endfor %}
			{% else %}
			<br><strong> No news & events at this time. </strong>
			{% endif %}
			</table>
		</div>
		<div id="pane5" class="tab-pane">
			<table class="table" id="socTab">
				{% if socs %}
				<thead>
					<tr>
					<th>Date</th>
					<th>Information</th>
					</tr>
				</thead>
				{% for sItem in socs %}
				<tbody>
					<tr>
					<td width="25%">{{sItem.date}}</td>
					<td><strong>Title: {{sItem.title}}</strong><br><br>{{sItem.news|linebreaks}}</td>
					</tr>
				</tbody>
				{% endfor %}
			{% else %}
			<br><strong> No news & events at this time. </strong>
			{% endif %}
			</table>
		</div>
		</div><!-- /.tab-content -->
	</div><!-- /.tabbable -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	{% endblock %}
</body>


</html>
