<!DOCTYPE html>

{% extends 'icod/base.html' %}
{% load static %}

<html>

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>

<style>

</style>

<body>

	{% block content %}
	<center><h1>Meet Our Team</h1><br></center>

	<br><br>

	<div class="row">
{% if teamMembers %}
{% for member in teamMembers %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <img src="{% static "teamPhotos/carol.jpg" %}" width="70" height="70" >
      <div class="caption">
	<p style="font-size:24px">{{member.name}}</p>
        <p style="font-size:18px">Job Title:<br> {{member.jobTitle}}</p>
        <p><a href="/icod/member_info/{{member.name}}" class="btn btn-default" style="background-color:#FF34B3" role="button">Read More</a></p>
      </div>
    </div>
 </div>
{% endfor %}
{% else %}
	<strong> No information available!</strong>
{% endif %}
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>

</script>

	{% endblock %}
</body>


</html>
